* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(https://cdn.discordapp.com/attachments/1034562900372766843/1073239512366448751/design2_image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

h1 {
    font-size: 4vw;
    -webkit-text-stroke: 2px rgb(243, 232, 84);
}

h2 {
    background-color: black;
    color: rgb(243, 232, 84);
    text-align: center;
    vertical-align: middle;
    border: solid rgb(243, 232, 84);
    padding: 1rem;
}

h3 {
    margin-bottom: 30px;
}


.logo img {
    height: 150px;
}


main {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 20px 20px 20px 20px;

}

section {
    margin-bottom: 20px;
    line-height: 25px;

}


nav {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 20px;
}

nav a {
    border: 3px solid rgb(243, 232, 84);
    padding: 10px;
    background-color: black;
    color: rgb(243, 232, 84);
    text-transform: uppercase;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    margin-top: 20px;
}

nav a:hover {
    background-color: rgb(243, 232, 84);
    border: black solid 3px;
    color: black;
    transform: translateX(30px);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}

thead th {
    font-family: 'Rock Salt', cursive;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgb(0, 0, 0));
    border: 3px solid black;

}

tbody td {
    text-align: center;
    border: 1px solid black;
}

thead {
    color: rgb(243, 232, 84);
    text-shadow: 1px 1px 1px black;
}

.celda {
    border: 3px solid black;
}


.container-img-gallery{
      
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    
}
.images_gallery{
    
    border: 5px solid rgb(243, 232, 84);
    border-radius: 10px;
    margin: 4vw 4vw;
    height: 16vw;
    transition: transform 0.5s;
}
.images_gallery:hover{
    transform: scale(1.3);
}
